body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #BDBDBD;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  border-bottom: 1px solid #ffffff;
  /*padding: 0;*/
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-top: 19px;
  margin-left: 23px;
  padding: 0;
  margin-bottom: 12px;
  margin-right: 0;
}

.main-nav {
    margin-left: 105px;
}

.navbar-collapse {
  /*margin-left: 105px;*/
}

.nav-link, .navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px;
  margin-top: 3px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  /*border: 1px solid #ffffff;*/
}

.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}

a:hover {
  color: #ffffff;
}

.nav-link {
  font-family: 'Trebuchet MS';
  color:  #ffffff;
  font-size: 21px;
  /*font-weight: 600;*/
  font-family: Arial;
font-size: 16.67px;
font-weight: 700;
  text-transform: uppercase;
}

.nav-helper-link {
  font-family: Arial;
  color:  #fefefe;
  font-size: 16.67px;
  font-weight: 700;
  text-align: right;
}

.helper-nav li {
  padding: 11px;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 800px;
  /*width: auto;*/
}

#carouselExampleIndicators {
  /*width: 13px;
  height: 13px;*/
}
.carousel-indicators {
  bottom: 60px;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  margin-left: 13px;
  margin-right: 13px;
}

.carousel-indicators li:hover {
  cursor: pointer;
}

.carousel-caption {
  position: absolute;
  z-index: 1001;
  padding: 0;
  margin: 0;
  top: 295px;
  left: 0;
  width: 100%;
}

.carousel-caption p {
  font-family: 'Trebuchet MS';
  color:  #fefefe;
  font-size: 37.5px;
  font-weight: 700;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  color:  #fefefe;
  font-size: 58.33px;
  font-weight: 700;
  text-align: center;
}
