body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #BDBDBD;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  /*border-bottom: 2px solid #ffffff;*/
  /*padding: 0;*/
}

.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-collapse {
  flex-basis: 0;
}

.second-nav {
  border-bottom: 2px solid #ffffff;
}

.navbar img {
  width: 140px;
}

.navbar-brand {
  margin-top: 19px;
  margin-left: 23px;
  padding: 0;
  margin-bottom: 12px;
  margin-right: 105px;
  /*position: relative;*/
  /*border-bottom: 1px solid #ffffff;*/
}

.navbar-brand-block {
  border-bottom: 2px solid #ffffff;
}

.navbar-brand-block::after {
  left: 0;
  width: 100%;
  height: 2px;
  /*-webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;*/
}

.main-nav {
    /*margin-left: 105px;*/
}

.navbar-collapse {
  padding-top: 51px;
  /*margin-left: 105px;*/
}

.nav-link, .navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px;
  /*margin-top: 21px;*/
  padding-bottom: 10px;
  padding-top: 10px;
  /*padding-right: 3rem;*/
  /*padding-left: 3rem;*/
  /*border: 1px solid #ffffff;*/
}
/*Nav items*/
.navbar .nav-item {
  position: relative;
  /*margin: 1em 0;*/
}

.nav-link {
  display: block;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  outline: none;
}

.navbar .nav-link {
  position: relative;
  cursor: pointer;
  /*height: 10px; /*<---Smotri suda*/*/
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  width: 200px;
  text-align: center;
}

.navbar-brand::after,
.navbar .nav-item::before,
.navbar .nav-item::after,
.navbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  background: #ffffff;
  /*z-index: 1000;*/
}

.navbar .nav-item::before,
.navbar .nav-item::after {
  width: 2px;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0s 0.1s, opacity 0.1s;
	transition: transform 0s 0.1s, opacity 0.1s;
}

.navbar-nav .active::before,
.navbar-nav .active::after {
  opacity: 1;
	-webkit-transform: scale3d(1, 1.05, 1);
	transform: scale3d(1, 1.05, 1);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.navbar .nav-link::after {
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.navbar .active .nav-link::after {
  -webkit-transform: translate3d(0, -44px, 0);
	transform: translate3d(0, -44px, 0);
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.navbar .nav-item::before {
  left: 0;
}

.navbar .nav-item::after {
  right: 0;
}


/*End nav items*/
a:hover {
  color: #ffffff;
}

.nav-link {
  font-family: 'Trebuchet MS';
  color:  #ffffff;
  font-size: 21px;
  font-family: Arial;
font-size: 16.67px;
font-weight: 700;
  text-transform: uppercase;
}

.nav-helper-link {
  font-family: Arial;
  color:  #fefefe;
  font-size: 16.67px;
  font-weight: 700;
  text-align: right;
}

.helper-nav {
  padding-left: 50px;
}

.helper-nav li {
  padding: 11px;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 800px;
  /*width: auto;*/
}

#carouselExampleIndicators {
  /*width: 13px;
  height: 13px;*/
}
.carousel-indicators {
  bottom: 60px;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  margin-left: 13px;
  margin-right: 13px;
}

.carousel-indicators li:hover {
  cursor: pointer;
}

.active a {
  color: #fce73a;
}

.carousel-caption {
  position: absolute;
  z-index: 1001;
  padding: 0;
  margin: 0;
  top: 295px;
  left: 0;
  width: 100%;
}

.carousel-caption p {
  font-family: 'Trebuchet MS';
  color:  #fefefe;
  font-size: 37.5px;
  font-weight: 700;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  color:  #fefefe;
  font-size: 58.33px;
  font-weight: 700;
  text-align: center;
}

.img-overlay{
  position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0 , 0.3);
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
  text-align: left;
}
